.main-container {
  display: flex;
  background-color: #393b40;
  padding-top: 72px;
  min-height: 100vh;
}

.side-nav-bar {
  height: 100vh;
  width: 20%;
  color: white;
  font-size: 20px;
  font-family: 'Roboto';
}

.editor-container {
  display: flex;
  flex-wrap: wrap;
}

.app-container {
  width: 80%;
}

.bottom-group {
  display: flex;
  position: fixed;
  border: 1px solid white;
  background-color: white;
  color: black;
  height: 50px;
  width: 100%;
  z-index: 10;
  bottom: 0px;
  padding-left: 10px;
}

.icons {
  font-size: 24px;
}

.buttons-play {
  display: flex;
  justify-content: center;
  align-items: center;
}

.volume {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.slider {
  width: 100%;
}

.top-bar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #393b40;
  color: white;
  border: 1px solid white;
}

.search-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.search-input {
  width: 250px;
  height: 25px;
  margin-left: 20px;
  border: none;
  outline: none;
  border-radius: 12px;
}

.spotify-app-bg {
  background-color: #181818;
  display: flex;
  flex-direction: column;

  flex-grow: 1;

  width: 100%;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .spotify-app-bg {
    background-color: #181818;
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-grow: 1;
  }
}

@media screen and (max-width: 420px) {
  .spotify-app-bg {
    min-height: 100vh;
  }
  .portfolio-body {
    margin-left: 0px;
  }
}

.main-container {
  height: 100vh;
  background-color: transparent;
}
.icon-container {
  padding-top: 300px;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .portfolio-body {
    background-color: transparent;
    width: 90%;
    min-height: 100vh;
    margin-left: 10px;
  }
}
@media screen and (max-width: 420px) {
  .portfolio-body {
    min-height: 100vh;
    margin-left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

@media screen and (max-width: 768px) {
  .active-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 100vh;
  }
}
@media screen and (max-width: 768px) {
  .large-device-nav-bar {
    display: none;
  }
}
